    /*ajustar tamaño del logo
    usar Raleway y Open sans de fuente
    centrar las cards para moviles
    estandarisar el tamaño de las fotos de las cards*/


.logo {

    max-width: 25px;
}

html {
    scroll-behavior: smooth;
}

.body {
    background-color: #000000;
}

.navbar-transparente {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-transparente .nav-link,
.navbar-transparente .navbar-brand {
    color: #fff;
}

.navbar-transparente .nav-link:hover {
    color: #0dcaf0;
}

.icon {
    width: 10px;

}

.icon-section {
    background-color: #0dcaf0;
    text-align: center;
}

.q-somos {
    background-color: #000000;
    color: #ffffff;
}