/* Desplazamiento Smooth al hacer clic en enlaces internos */
html {
    scroll-behavior: smooth;
}

/* Estilos base del cuerpo del documento */
body {
    background-color: #000000;
    color: #ffffff;
}

/* Logo , Navbar y elementos de navegación */

.logo {
    max-width: 25px;
}

.navbar-transparente {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-transparente .nav-link,
.navbar-transparente .navbar-brand {
    color: #ffffff;
}

.navbar-transparente .nav-link:hover {
    color: #0dcaf0;
}


/* Sección ¿Quiénes Somos?
   Contenedor general, estilo de iconos, fondo e iconos centrados */
.q-somos {
    padding-top: 25px;
    background-color: #000000;
    color: #ffffff;
}

.icon {
    width: 10px;
}

.icon-section {
    background-color: #00D0FF;
    text-align: center;
    font-size: 35px;
}

/* Fuentes generales de los titulos y textos */

.text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

/* Cards de la sección Destacados
      Estilos generales de las tarjetas, ajustes de tamaño para las imagenes */
.card {
    background-color: #00D0FF;
    color: #ffffff;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Línea horizontal bajo los títulos de sección */
h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #121415;
    margin: 10px auto 30px auto;
}

/* Botón del formulario, color y fondo*/
.btn-primary {
    background-color: #00D0FF;
    border-color: #00D0FF;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #00b8e0;
    border-color: #00b8e0;
}

/* Footer, color de fondo*/

.footer {
    background-color: #00D0FF;
}